.home-links {
  .item {
    text-align: center;
    margin: 10px 0;
  }

  a {
    color: $black;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.6s;

    &:hover, &:active, &:focus {
      color: $beta;
    }
  }
}
